platformName='android'
platformVersion='9.0'
deviceName='Google Pixel 3'
app='bs://50ed4d3ea5336204ef9ab7e16ffd6e4f0b79be06'
appName='org.wikipedia.alpha'
remote_url='http://hub.browserstack.com/wd/hub'
userName='userName'
accessKey='accessKey'
projectName='First Python project'
buildName='browserstack-build-1'
sessionName='BStack first_test'